<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGE Dashboard</title>
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="<%= base_url %>css/bulma.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/bulma-dashboard.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/dashboard.css">
</head>
<body>
    <div class="dashboard is-full-height">
        <%- include("templates/sidenav"); -%>
        <!-- main section -->
        <div class="dashboard-main is-scrollable">
            <%- include("templates/navbar"); -%>
            <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                    <div class="card has-background-info hoverable">
                        <div class="card-content has-text-centered">
                            <p class="is-size-5 has-text-light">Usuarios</p>
                        </div>
                        <footer class="card-footer">
                            <a href="/dashboard/usuarios/principal/1" class="card-footer-item has-text-light">Entrar</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                    <div class="card has-background-info hoverable">
                        <div class="card-content has-text-centered">
                            <p class="is-size-5 has-text-light">Delegaciones</p>
                        </div>
                        <footer class="card-footer">
                            <a href="/dashboard/delegaciones" class="card-footer-item has-text-light">Entrar</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                    <div class="card has-background-info hoverable">
                        <div class="card-content has-text-centered">
                            <p class="is-size-5 has-text-light">Banners</p>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item has-text-light">Entrar</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                    <div class="card has-background-info hoverable">
                        <div class="card-content has-text-centered">
                            <p class="is-size-5 has-text-light">Eventos</p>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item has-text-light">Entrar</a>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline mb-6">
                <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                    <div class="card has-background-info hoverable">
                        <div class="card-content has-text-centered">
                            <p class="is-size-5 has-text-light">Noticias</p>
                        </div>
                        <footer class="card-footer">
                            <a href="/dashboard/noticias" class="card-footer-item has-text-light">Entrar</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                    <div class="card has-background-info hoverable">
                        <div class="card-content has-text-centered">
                            <p class="is-size-5 has-text-light">Publicaciones</p>
                        </div>
                        <footer class="card-footer">
                            <a href="/dashboard/publicaciones" class="card-footer-item has-text-light">Entrar</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
                    <div class="card has-background-info hoverable">
                        <div class="card-content has-text-centered">
                            <p class="is-size-5 has-text-light">Votaciones</p>
                        </div>
                        <footer class="card-footer">
                            <a href="/dashboard/votaciones" class="card-footer-item has-text-light">Entrar</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
            <%- include("templates/footer"); -%>            
        </div>
    </div>
    <script src="<%= base_url %>js/dashboard/dashboard.js"></script>
</body>
</html>