<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGE Dashboard</title>
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="<%= base_url %>css/bulma.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/bulma-dashboard.min.css">
</head>
<body>
    <div class="dashboard is-full-height">
        <%- include("templates/sidenav"); -%>
        <!-- main section -->
        <div class="dashboard-main is-scrollable">
            <%- include("templates/navbar"); -%>
            <section class="section">

                <p class="title is-size-2 is-spaced">
                AMGE Dashboard
                </p>
                <div class="columns">
                    <div class="column is-3">
                        <div class="card has-background-info">
                            <div class="card-content pt-6 pb-6">
                                <p class="title has-text-light has-text-centered">
                                  Usuarios
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a href="/dashboard/usuarios/" class="card-footer-item has-text-light">Entrar</a>
                            </footer>
                        </div>
                        
                    </div>
                    <div class="column is-3">
                        <div class="card has-background-info">
                            <div class="card-content pt-6 pb-6">
                                <p class="title has-text-centered has-text-light">
                                    Delegaciones
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a href="/dashboard/delegaciones" class="card-footer-item has-text-light">Entrar</a>
                            </footer>
                        </div>                        
                    </div>
                    <div class="column is-3">
                        <div class="card has-background-info">
                            <div class="card-content pt-6 pb-6">
                                <p class="title has-text-centered has-text-light">
                                    Banners
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a href="/dashboard/banners" class="card-footer-item has-text-light">Entrar</a>
                            </footer>
                        </div>                        
                    </div>
                    <div class="column is-3">
                        <div class="card has-background-info">
                            <div class="card-content pt-6 pb-6">
                                <p class="title has-text-centered has-text-light">
                                  Eventos
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a href="/dashboard/eventos" class="card-footer-item has-text-light">Entrar</a>
                            </footer>
                        </div>                        
                    </div>
                                       
                </div>

                <div class="columns mb-6">
                    <div class="column is-3">
                        <div class="card has-background-info">
                            <div class="card-content pt-6 pb-6">
                                <p class="title has-text-centered has-text-light">
                                    Noticias
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a href="/dashboard/noticias" class="card-footer-item has-text-light">Entrar</a>
                            </footer>
                        </div>                        
                    </div> 
                    <div class="column is-3">
                        <div class="card has-background-info">
                            <div class="card-content pt-6 pb-6">
                                <p class="title has-text-centered has-text-light">
                                  Publicaciones
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a href="/dashboard/publicaciones" class="card-footer-item has-text-light">Entrar</a>
                            </footer>
                        </div>
                        
                    </div>
                    <div class="column is-3">
                        <div class="card has-background-info">
                            <div class="card-content pt-6 pb-6">
                                <p class="title has-text-centered has-text-light">
                                    Votaciones
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a href="/dashboard/votaciones" class="card-footer-item has-text-light">Entrar</a>
                            </footer>
                        </div>                        
                    </div>                   
                </div>
                <br>
   
            </section>
            <%- include("templates/footer"); -%>            
        </div>
      

    </div>
</body>
</html>