<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGE Dashboard</title>
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="<%= base_url %>css/bulma.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/bulma-dashboard.min.css">
    
</head>
<body>
    <div class="dashboard is-full-height">
        <%- include("templates/sidenav"); -%>
        <!-- main section -->
        <div class="dashboard-main is-scrollable">
            <%- include("templates/navbar"); -%>
            <section class="section">
                <div class="container">
                    <h1 class="title">Registro de Usuario</h1>
                    <form action="/submit" method="post">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Correo Electrónico</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="email" 
                                            name="user_email" 
                                            id="user_email"
                                            placeholder="Correo Electrónico" 
                                            value="<%= user.user_email %>" 
                                            user_id="<%= user.user_id %>"
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Avatar</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_avatar" 
                                            id="user_avatar"
                                            placeholder="URL del Avatar" 
                                            value="<%= user.user_avatar %>"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Nombres</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_names" 
                                            id="user_names"
                                            placeholder="Nombres" 
                                            value="<%= user.user_names %>" 
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Apellidos</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_last_names" 
                                            id="user_last_names"
                                            placeholder="Apellidos" 
                                            value="<%= user.user_last_names %>" 
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Fecha de Nacimiento</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="date" 
                                            name="user_birth" 
                                            id="user_birth"
                                            value="<%= user.user_birth %>" 
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Teléfono</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="tel" 
                                            name="user_phone" 
                                            id="user_phone"
                                            placeholder="Teléfono" 
                                            value="<%= user.user_phone %>" 
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Nacionalidad</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_nationality" 
                                            id="user_nationality"
                                            placeholder="Nacionalidad" 
                                            value="<%= user.user_nationality %>" 
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Dirección</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_address" 
                                            id="user_address"
                                            placeholder="Dirección" 
                                            value="<%= user.user_address %>" 
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Código Postal</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_cp" 
                                            id="user_cp"
                                            placeholder="Código Postal" 
                                            value="<%= user.user_cp %>" 
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Tipo de Sangre</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="user_blood_type" id="user_blood_type" required>
                                                <option value="">Selecciona un tipo de sangre</option>
                                                <option value="A+" <% if(user.user_blood_type === 'A+') { %> selected <% } %>>A+</option>
                                                <option value="A-" <% if(user.user_blood_type === 'A-') { %> selected <% } %>>A-</option>
                                                <option value="B+" <% if(user.user_blood_type === 'B+') { %> selected <% } %>>B+</option>
                                                <option value="B-" <% if(user.user_blood_type === 'B-') { %> selected <% } %>>B-</option>
                                                <option value="AB+" <% if(user.user_blood_type === 'AB+') { %> selected <% } %>>AB+</option>
                                                <option value="AB-" <% if(user.user_blood_type === 'AB-') { %> selected <% } %>>AB-</option>
                                                <option value="O+" <% if(user.user_blood_type === 'O+') { %> selected <% } %>>O+</option>
                                                <option value="O-" <% if(user.user_blood_type === 'O-') { %> selected <% } %>>O-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Cambiar Contraseña</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="password" 
                                            name="user_password" 
                                            id="user_password"
                                            placeholder="Nueva Contraseña"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Confirmar Nueva Contraseña</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="password" 
                                            name="user_password_confirm" 
                                            id="user_password_confirm"
                                            placeholder="Confirmar Nueva Contraseña"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Fecha de Creación</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_created_at" 
                                            id="user_created_at"
                                            value="<%= user.user_created_at %>" 
                                            disabled
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Fecha de Modificación</label>
                                    <div class="control">
                                        <input 
                                            class="input" 
                                            type="text" 
                                            name="user_modified_at" 
                                            id="user_modified_at"
                                            value="<%= user.user_modified_at %>" 
                                            disabled
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Actualizar por Correo Electrónico</label>
                                    <div class="control">
                                        <label class="checkbox">
                                            <input 
                                                type="checkbox" 
                                                name="user_email_updates" 
                                                id="user_email_updates"
                                                user_email_updates="<%= user.user_email_updates %>"
                                                <% if(user.user_email_updates) { %> checked <% } %>
                                            >
                                            Deseo recibir actualizaciones por correo electrónico
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Grupo</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="user_group_id" id="user_group_id" required>
                                                <option value="">Selecciona una opción</option>
                                                <% user_groups.forEach(group => { %>
                                                    <option value="<%= group.user_group_id %>" <% if(user.user_group_id === group.user_group_id) { %> selected <% } %>>
                                                        <%= group.user_group_name %>
                                                    </option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Delegación</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="delegation_id" id="delegation_id">
                                                <option value="">Selecciona una opción</option>
                                                <% delegations.forEach(delegation => { %>
                                                    <option value="<%= delegation.delegation_id %>" <%= user.delegation && user.delegation.delegation_id === delegation.delegation_id ? 'selected' : '' %>>
                                                        <%= delegation.delegation_name %>
                                                    </option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Estado</label>
                                    <div class="control select">
                                        <select 
                                            name="user_status" 
                                            id="user_status" 
                                            required
                                        >
                                            <option value="A" <%= user.user_status === 'A' ? 'selected' : '' %>>Activo</option>
                                            <option value="I" <%= user.user_status === 'I' ? 'selected' : '' %>>Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <header class="card-header">
                              <p class="card-header-title">Membresias</p>
                            </header>
                            <div class="card-content">
                              <div class="content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo de Membresia</th>
                                            <th>Fecha de Inicio</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="membership_tbody">
                                        <% memberships.forEach(membership => { %>
                                            <tr>
                                                <td><%= membership.cat_membership_type.cat_membership_type_name %></td>
                                                <td><%= membership.membership_created_at %></td>
                                                <td><%= membership.membership_status == "A" ? "Activa" : "Inactiva" %></td>
                                            </tr>
                                        <% }) %>
                                    </tbody>

                                </table>
                                
                                <a 
                                    class="button is-link" 
                                    id="nueva_membresia_btn"
                                >Nueva Membresia</a>
                              </div>
                            </div>
                        </div>
        
                        <div class="columns mt-4">
                            <div class="column">
                                <div class="field">
                                    <div class="control">
                                        <button 
                                            class="button is-primary" 
                                            type="submit"
                                            id="guardar_btn"
                                        >Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>


            <div class="modal" id="nueva_membresia_modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Membresia</p>
                        <button class="delete" id="close_modal" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Tipo de membresia</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="tipo_membresia_select">
                                                <option value="">Selecciona..</option>
                                                <option value="1">Estudiante</option>
                                                <option value="2">Jubilado</option>
                                                <option value="3">Socio</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Fecha de inicio</label>
                                    <div class="control">
                                        <input class="input" type="date" id="fecha_inicio_input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notification is-warning is-hidden" id="notification_membresia">
                            <button class="delete" id="close_notification"></button>
                            Los campos son requeridos
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <div class="buttons">
                        <button class="button is-success" id="guardar_mebresia_btn">Guardar</button>
                        <button class="button">Cancelar</button>
                        </div>
                    </footer>
                </div>
            </div>
            <%- include("templates/footer"); -%>            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="<%= base_url %>js/dashboard/editar_usuario.js"></script>
    <script src="<%= base_url %>js/dashboard/editar_usuario_membresia.js"></script>
</body>
</html>