<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGE Dashboard</title>
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="<%= base_url %>css/bulma.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/bulma-dashboard.min.css">
    
</head>
<body>
    <div class="dashboard is-full-height">
        <%- include("templates/sidenav"); -%>
        <!-- main section -->
        <div class="dashboard-main is-scrollable">
            <%- include("templates/navbar"); -%>
            <section class="section">

                <p class="title is-size-2 is-spaced">
                    Usuarios
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header has-background-info">
                                <p class="card-header-title has-text-white">
                                    Usuarios
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="columns">
                                    <div class="column is-offset-4 is-4">
                                        <div class="field">
                                            <div class="control has-icons-left">
                                                <input class="input" type="text" placeholder="Buscar usuarios" id="buscar_input">
                                                <span class="icon is-small is-left">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </span>
                                            </div>
                                            <p class="help">Busqueda por email, apellidos o nombres</p>
                                        </div>
                                    </div>
                                </div>
                                <table class="table is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>Usuario</th>
                                            <th>Delegacion</th>
                                            <th>Grupo</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_paginada">
                                        <% users.forEach(user => { %>
                                            <tr>
                                                <td><%= user.user_id %></td>
                                                <td><%= user.user_email %></td>
                                                <td><%= user.user_last_names %> <%= user.user_names %></td>
                                                <td></td>
                                                <td><%= user.user_group.user_group_name %></td>
                                                <td><%= user.user_status == "A" ? "Activo" : ""%></td>
                                                <td>
                                                    <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                    <a href="<%= base_url %>dashboard/usuarios/editar/<%= user.user_id %>"><i class="fa-solid fa-pencil mr-1"></i></a>
                                                    <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                                </td>
                                            </tr>
                                        <% }) %>
                                        
        
                                    </tbody>
                                    <tbody id="tbody_busqueda" class="is-hidden">

                                    </tbody>
                                </table>
                                <div class="columns" id="paginacion_div">
                                    <div class="column is-8 is-offset-2">
                                        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                                            <% if (datos_paginacion.pagina != 1) { %>
                                                <a 
                                                    class="pagination-previous"
                                                    href="<%= base_url %>dashboard/usuarios/principal/ <%= datos_paginacion.pagina_anterior %>"
                                                >
                                                    Anterior
                                                </a>
                                            <% } %>
                                            <% if (datos_paginacion.pagina != datos_paginacion.total_paginas) { %>
                                                <a 
                                                    class="pagination-next"
                                                    href="<%= base_url %>dashboard/usuarios/principal/<%= datos_paginacion.pagina_siguiente %>"
                                                >
                                                    Siguiente
                                                </a>
                                            <% } %>
                                            
                                            <ul class="pagination-list">
                                                <% for( let pagina = datos_paginacion.limite_inferior; pagina <= datos_paginacion.limite_superior; pagina++ ) { %>
                                                    <% if (pagina == datos_paginacion.pagina) { %>
                                                        <li>
                                                            <a 
                                                                class="pagination-link" 
                                                                aria-label="Goto page 1"
                                                                href="<%= base_url %>dashboard/usuarios/principal/<%= pagina %>"
                                                            >
                                                                <%= pagina %>
                                                            </a>
                                                        </li>
                                                    <% } else { %>
                                                        <li>
                                                            <a 
                                                                class="pagination-link" 
                                                                aria-label="Goto page 45"
                                                                href="<%= base_url %>dashboard/usuarios/principal/<%= pagina %>"
                                                            >
                                                                <%= pagina %>
                                                            </a>
                                                        </li>
                                                    <% } %>
                                                <% } %>
                                                
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header has-background-info">
                                <p class="card-header-title has-text-white">
                                    Usuarios activos e inactivos
                                </p>
                            </header>
                            <div id="active_users_chart"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header has-background-info">
                                <p class="card-header-title has-text-white">
                                    Membresias expiradas y por expirar
                                </p>
                            </header>
                            <div id="memberships_chart"></div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Ver registros</a>
                                <a href="#" class="card-footer-item">Enviar avisos</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header has-background-info">
                                <p class="card-header-title has-text-white">
                                    Sesiones
                                </p>
                            </header>
                            <div class="card-content">
                                <table class="table is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Usuario</th>
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Usuario</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Usuario</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Usuario</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Usuario</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Usuario</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>2023-07-01 10:10:00</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                                        <a class="pagination-previous">Anterior</a>
                                        <a class="pagination-next">Siguiente</a>
                                        <ul class="pagination-list">
                                            <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                                            <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                                            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                                            <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                                            <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header has-background-info">
                                <p class="card-header-title has-text-white">
                                    Registro historico de sesiones
                                </p>
                            </header>
                            <div id="sessions_record_chart"></div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header has-background-info">
                                <p class="card-header-title has-text-white">
                                    Grupos de usuarios
                                </p>
                            </header>
                            <div class="card-content">
                                <table class="table is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Grupo</th>
                                            <th>Usuario</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Administrador</td>
                                            <td>2</td>
                                            <td>Activo</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-pencil mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Directivo</td>
                                            <td>5</td>
                                            <td>Activo</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-pencil mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Asociados</td>
                                            <td>200</td>
                                            <td>Activo</td>
                                            <td>
                                                <a href="#"><i class="fa-solid fa-eye mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-pencil mr-1"></i></a>
                                                <a href="#"><i class="fa-solid fa-trash"></i></a> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                    
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <%- include("templates/footer"); -%>            
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
    <script src="<%= base_url %>js/dashboard/usuarios.js"></script>
</body>
</html>