<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGE</title>
    <link rel="stylesheet" href="<%= base_url %>css/bulma.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/style.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="<%= base_url %>css/delegaciones.css">
</head>
<body>
    <%- include("templates/navbar"); -%>
    <br>
    <br>
    <br>
    <div class="container">
        <section class="section is-medium animate__animated">
            <div class="columns is-vcentered">
                <div class="column">
                    <h2 class="is-size-1 has-text-weight-bold">Delegaciones AMGE</h2>    
                    <hr>
                    <p class="is-size-4">Conoce las Delegaciones que conforman a la Asociación Mexicana de Geofísicos de Exploración</p>
                </div>
                <div class="column is-two-thirds mt-6">
                    <div class="box_image">
                        <div class="spin-container">
                            <div class="shape">
                                <div class="bd"></div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </section>        
    </div>

    <section class="section" id="delegaciones_section">
        <h1 class="is-size-1">Delegaciones AMGE</h1>
        <hr>
        <div class="columns  is-multiline animate__animated">
            <div class="column is-one-quarter">
                <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= base_url %>images/amge_logotipo.webp'); ">
                    <div class="hero-text">
                        <h1 class="is-size-3 has-text-weight-bold nombre_delegacion">Directiva Nacional</h1>
                        <a 
                            class="button is-link select_delegacion_btn" 
                            delegacion="cdmx" 
                            href="/delegaciones/1" 
                        >Obtener más información</a>                    
                    </div>
                </div>            
            </div>


            <div class="column is-one-quarter">
                <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= base_url %>images/cdmx.webp'); ">
                    <div class="hero-text">
                        <h1 class="is-size-3 has-text-weight-bold nombre_delegacion">Delegación CDMX</h1>
                        <a 
                            class="button is-link select_delegacion_btn" 
                            delegacion="reynosa"
                            href="/delegaciones/3"
                        >Seleccionar</a>                    
                    </div>
                </div>            
            </div>
            <div class="column is-one-quarter">
                <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= base_url %>images/tampico.webp'); ">
                    <div class="hero-text">
                        <h1 class="is-size-3 has-text-weight-bold nombre_delegacion">Delegación Tampico</h1>
                        <a 
                            class="button is-link select_delegacion_btn" 
                            delegacion="tampico"
                            href="/delegaciones/4" 
                        >Seleccionar</a>                      
                    </div>
                </div>            
            </div>
            <div class="column is-one-quarter">
                <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= base_url %>images/villahermosa.webp'); ">
                    <div class="hero-text">
                        <h1 class="is-size-3 has-text-weight-bold villahermosa nombre_delegacion" >Delegación Villahermosa</h1> 
                        <a 
                            class="button is-link select_delegacion_btn" 
                            delegacion="villahermosa"
                            href="/delegaciones/2"
                        >Seleccionar</a>                     
                    </div>
                </div>            
            </div>
        </div> 
    </section>
    
    <%- include("templates/footer"); %>
    <%- include("templates/login_model"); %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="<%= base_url %>js/navbar.js"></script>
    <script src="<%= base_url %>js/validate_forms.js"></script>
    <script src="<%= base_url %>js/login_modal.js"></script>
    <script src="<%= base_url %>js/membresias.js"></script>
</body>
</html>