<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGE</title>
    <link rel="stylesheet" href="<%= base_url %>css/bulma.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/style.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="<%= base_url %>css/swiper_styles.css">
    <link rel="stylesheet" href="<%= base_url %>css/index.css">
    <link rel="stylesheet" href="<%= base_url %>css/cropper.min.css">
</head>
<body>
  <%- include("templates/navbar"); -%>
  <div class="container">
    <section class="section animate__animated">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                  Perfil de usuario
                </p>
            </header>
            <div class="columns p-2">            
                <div class="column is-4">
                    <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                            <p class="has-text-weight-bold is-size-4 has-text-link"><%= user.user_names %> <%= user.user_last_names %></p>
                        </div>
                    </div>
                    <center>
                        <figure class="image is-128x128 mb-4">
                            <img class="is-rounded" src="<%= user.user_avatar ? `/usuarios/${user.user_id}/${user.user_id}.png`: '/images/perfil-del-usuario.png'%>" >
                        </figure>
                        <a class="button is-primary is-fullwidth" href="<%= base_url %>editar_perfil/<%= user_id %>">
                            <span class="icon">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                            <span>Editar perfil</span>
                          </a>
                    </center>
                    
                </div>
                <div class="column is-4">
                    <p><span class="has-text-weight-bold has-text-link is-size-5">Email:</span> <%= user.user_email %></p>
                    <p><span class="has-text-weight-bold has-text-link is-size-5">Telefono:</span> <%= user.user_phone %></p>
                    <% if (user.delegation) { %>
                        <p><span class="has-text-weight-bold has-text-link is-size-5">Delegacion:</span> <%= user.delegation.delegation_name %></p>
                    <% } %>
                    <p><span class="has-text-weight-bold has-text-link is-size-5">Fecha de nacimiento:</span><%= user.user_birth %></p>
                    <p><span class="has-text-weight-bold has-text-link is-size-5">Nacionalidad:</span> <%= user.user_nationality %></p>
                    <p><span class="has-text-weight-bold has-text-link is-size-5">Dirección:</span> <%= user.user_address %></p>
                    <p><span class="has-text-weight-bold has-text-link is-size-5">Tipo de sangre:</span> <%= user.user_blood_type %></p>
                    <p>
                        <span class="has-text-weight-bold has-text-link is-size-5">Estatus de membresia:</span> 
                        <span class="has-text-weight-bold has-text-success is-size-5">
                            <% if (membership && membership.membership_status == "A") { %>
                                Activo
                            <% }else{ %>
                                Inactivo
                            <% } %>
                        </span>
                    </p>
                </div>
                <div class="column is-4">
                   <center>
                        <img src="/images/amge.qr.png" style="height: 250px;">
                        <p class="is-size-5">Escanear el codigo para ver la credencial de AMGP</p>
                   </center>
                </div>
            </div>
           
        </div>
        
    </section>      
  </div>



  <%- include("templates/footer"); %>
  <%- include("templates/login_model"); %>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  
  <script src="<%= base_url %>js/cropper.min.js"></script>
  <script src="<%= base_url %>js/navbar.js"></script>
  <script src="<%= base_url %>js/perfil.js"></script>
  <script src="<%= base_url %>js/login_modal.js"></script>
</body>
</html>