


  
  <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a  
            class="hero-image" 
            style="
              width: 100%; 
              background-image: url('<%= base_url %>images/Tampico_banner.png'); 
              background-size: 100% auto; 
              background-repeat: no-repeat;"
              href="<%= base_url %>noticia/tampico_cuna_de_un_legado"
          >
            <img src="" alt="">
          </a>        
        </div>

        <div class="swiper-slide">
          <a  
            class="hero-image" 
            style="
              width: 100%; 
              background-image: url('<%= base_url %>images/CMP_banner.png'); 
              background-size: 100% auto; 
              background-repeat: no-repeat;"
              href="https://www.congresomexicanodelpetroleo.com/"
          >
            <img src="" alt="">
          </a>        
        </div>

        <div class="swiper-slide">
          <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= base_url %>images/travel-6470467_1280.jpeg'); opacity:1">
            <div class="hero-text">
              <h1 class="is-size-3 has-text-weight-bold">Asociación sin fines de lucro de ingenieros geofísicos en México AMGE</h1>
              <p class="mb-3 has-text-weight-bold">Anteponemos el bien común al personal</p>
              <button class="button is-link">Ponte en contacto</button>
            </div>
          </div>        
        </div>
        <div class="swiper-slide">
          <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('<%= base_url %>images/voto-elecciones.jpeg'); ">
            <div class="hero-text">
              <h1 class="is-size-3 has-text-weight-bold ">Convocatoria Delegaciòn Villahermosa</h1>
              <p class="mb-3 has-text-weight-bold">Convocatoria</p>
              <button class="button is-link">Ver anuncio</button>
            </div>
          </div>  
        </div>
        <div class="swiper-slide">
          <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= base_url %>images/busqueda-de-candidatos-Evalart-672x372.jpeg'); ">
            <div class="hero-text">
              <h1 class="is-size-3 has-text-weight-bold">Postulación de candidatos</h1>
              <button class="button is-link">Ver anuncioo</button>
            </div>
          </div>  
        </div>
        <div class="swiper-slide">
          <div  class="hero-image" style="width: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('<%= base_url %>images/pexels-edmond-dantès-4342127.jpeg'); ">
            <div class="hero-text">
              <h1 class="is-size-3 has-text-weight-bold">Acta de Escrutinio del Comité Electoral</h1>
              <button class="button is-link">Ver anuncioo</button>
            </div>
          </div>  
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
  </div>

