<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGE</title>
    <link rel="stylesheet" href="<%= base_url %>css/bulma.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/style.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="<%= base_url %>css/swiper_styles.css">
    <link rel="stylesheet" href="<%= base_url %>css/index.css">
    <link rel="stylesheet" href="<%= base_url %>css/header.css">
</head>
<body>

  <%- include("../templates/navbar"); -%>
  <!-- <header class="header header-content">
    <div class="header-video">
      <video autoplay muted loop id="background-video">
        <source src="<%= base_url %>videos/wall.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
      <h4>Asociación Mexicana de Geofísicos de Exploración A. C.</h4>
      <p>
        Disfruta de los beneficios de pertenecer a la AMGE.
      </p>
      <a href="/membresias" class="btn">Adquiere tu membresia</a>
    </div>
  </header> -->
  
    <section class="section">
        <div class="columns">
            <div class="column">
                <h2 class="is-size-2">
                    Convocatoria para postulación de candidatos de planilla
                </h2>
                <hr>
                <iframe 
                    id="main-pdf" 
                    class="" 
                    width="100%" 
                    height="100%" 
                    src="<%= base_url %>documents/Convocatoria Elecciones2024_001.pdf" 
                    style="height: 80vh;"
                >
                </iframe>
            </div>
        </div>
    </section>
 
    <br><br><br><br>

  <%- include("../templates/footer"); %>
  <%- include("../templates/login_model"); %>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="<%= base_url %>js/navbar.js"></script>
  <script src="<%= base_url %>js/validate_forms.js"></script>
  <script src="<%= base_url %>js/login_modal.js"></script>
  <script src="<%= base_url %>js/swiper_index.js"></script>
</body>
</html>